.comment {

  background-color: lightgrey;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: 10px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;

  @media (max-width: 750px) {

    flex-direction: column;

  }

  .info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darken(lightgrey, 10%);
    position: relative;
    padding: 10px 20px;

    .img {

      width: 50px;
      height: 50px;
      margin: 10px 50px;
      border-radius: 50%;
      overflow: hidden;

      img {

        height: 100%;

      }

    }

    .info-content {

      margin: 0 10px;

      p {

        text-align: center;

      }

    }

  }

  .content {

    display: flex;
    align-items: center;
    padding: 20px 10px;

  }

}
