.navbar {

  width: 100%;
  background-color: #1f872c;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;

  @media (max-width: 500px) {

    flex-direction: column;

  }

  .nav-item {

    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;

    &:hover {

      background-color: lighten(#1f872c, 10%);
      cursor: pointer;

    }

    &:first-child {

      margin-left: 30px;

      @media (max-width: 500px) {

        margin: 0;

      }

    }

    &:last-child {

      margin-right: 30px;

      @media (max-width: 500px) {

        margin-right: 0;

      }

    }

    @media (max-width: 500px) {

      display: none;
      margin-left: 0;

    }

  }

  .visible {

    display: block;

  }

  .fa-bars {

    display: none;
    color: white;
    order: -1;
    text-align: right;

    @media (max-width: 500px) {

      display: block;

    }

  }

}
