.post {

  width: 70%;
  margin: 10px auto;
  background-color: #0dbf23;
  padding: 10px;
  border: 1px solid #0dbf23;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {

    background-color: lighten(#0dbf23, 10%);

  }

}
