.create-quiz-form {

  background-color: grey;
  width: 400px;
  margin: auto;
  margin-top: 66px;
  border: 1px solid grey;
  border-radius: 10px;

  input {

    margin: 10px 0;

  }

  button {

    margin: 10px 0;

  }

}
