.profile-img-container {

  width: 150px;
  height: 150px;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;

  img {

    height: 100%;

  }

}

.dashboard {

  margin: auto;
  margin-top: 66px;
  width: 80%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {

    text-align: center;
    margin: 10px 0;

  }

  h2 {

    text-align: center;

  }

}

.change-image {

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;

  width: 40%;
  height: 40%;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;

  p {

    text-align: center;
    margin-bottom: 10px;

  }

  h3 {

    text-align: center;
    margin: 10px 0;

  }

  button {

    margin: 10px 0;

  }

  .close-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {

      color: lightgrey;

    }

  }

}

.change-bg {

  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  opacity: 0;
  top: 0;
  left: 0;
  display: none;

}
