.login {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;

  h1, h3 {

    text-align: center;

  }

  h3 {

    margin: 10px 0;

  }

}
