.post-view {

  width: 100%;
  margin-top: 66px;

  .post-header {

    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;

    h1 {

      text-align: center;
      margin: 10px 0;

    }

    span {

      position: absolute;
      top: 12px;
      right: 5px;
      font-size: 1.4rem;

      &:hover {

        cursor: pointer;
        color: grey;

      }

    }

  }

  .post-body {

    width: 70%;
    margin: 10px auto;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;

  }

}
