.quiz {

  margin: auto;
  margin-top: 66px;

  p {

    margin: 10px 0;

  }

  .question {

    width: 100%;
    text-align: center;

    .heading {

      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      width: 70%;
      text-align: center;
      padding: 10px;
      margin: auto;
      margin-bottom: 20px;

    }

    button {

      margin: 15px auto;
      text-align: center;
      width: 50%;
      padding: 10px;

    }

  }

  .preview {

    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    padding: 10px;
    margin: auto;

  }

  .end-game {

    .heading {

      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      width: 70%;
      text-align: center;
      padding: 10px;
      margin: auto;
      margin-bottom: 20px;

    }

    .body {

      background-color: lightgrey;
      border: 1px solid lightgrey;
      border-radius: 5px;
      width: 60%;
      padding: 10px;
      margin: 0 auto;
      text-align: center;

      h1, h2, h3 {

        margin: 10px;

      }

      i {

        font-size: 6rem;
        cursor: pointer;

      }

      .fa-thumbs-up {

        color: green;
        margin-right: 10px;

        &:hover {

          color: lighten(green, 5%);

        }

      }

      .fa-thumbs-down {

        color: red;
        margin-left: 10px;

        &:hover {

          color: lighten(red, 20%);

        }

      }

      .fa {

        font-size: 8rem;

      }

      .fa-star {

        color: yellow;
        margin-bottom: 10px;

      }

    }

  }

}
