.quiz {

  margin: auto;
  margin-top: 66px;

  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  text-align: center;
  padding: 10px;

  p {

    margin: 10px 0;

  }

}
